* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 0rem;
}

.header-container {
  width: 70%;
  color: #fff;
}

#logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 3.5rem;
  letter-spacing: 1px;
  font-style: italic;
}

.search-form {
  padding: 2rem 0rem;
  display: flex;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: rgb(77, 146, 106);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-form button:hover {
  background: rgb(55, 112, 79);
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}

.gallery-info a {
  color: gray;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
  padding: 2rem 1rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  text-transform: uppercase;
}

.more {
  padding: 1rem 3rem;
  background-color: rgb(77, 146, 106);
  color: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.more:hover {
  background-color: rgb(55, 112, 79);
}

.featured {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow: scroll;
  padding: 0rem 2rem;
}

@media screen and (min-width: 600px) {
  .featured {
    justify-content: center;
  }
}

.subject {
  padding: 1rem 2rem;
  border: none;
  color: #fff;
  border-radius: 10px;
  margin-right: 1rem;
  cursor: pointer;
}

.nature {
  background-color: rgb(77, 146, 106);
}
.oceans {
  background-color: rgb(92, 169, 192);
}
.animals {
  background-color: rgb(226, 148, 96);
}
.people {
  background-color: rgb(243, 112, 103);
}
